:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: #3b9cff;
  --pink: #ff4fc1;
  --orange: #ffa531;
  --green: #00b876;
  --purple: #b85fff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  box-sizing: border-box;
  background-color: var(--orange);
  color: white;
  font-size: 1.5rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.451);
  width: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3 {
  margin: 5px;
}

.header-icon-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 70px;
  margin-left: 30px;
}

.bg-img {
  background-image: url(../tictactoebg.jpg);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.2;
  z-index: -1;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #000000;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.board {
  background-color: var(--blue);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
  padding: 10px;
}

.tile {
  background-color: var(--pink);
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: scale 0.3s, rotate 0.3s, box-shadow 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.382);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12rem;
}

.tile:hover {
  scale: 1.03;
  rotate: 3deg;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.537);
}

.slam-in {
  animation: slam 1s;
}

@keyframes slam {
  0% {
    text-shadow: 10px 10px 10px black;
    opacity: 0.2;
    scale: 1.3;
  }
}

.spin {
  animation: spin 1s;
}

@keyframes spin {
  50% {
    rotate: 90deg;
  }
}

.infos {
  display: flex;
  justify-content: space-between;
}

.info-box {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.382);
  background-color: var(--green);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 45%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.name-input {
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.active-player {
  border: 8px solid var(--orange);
}

#end-game-modal {
  background-color: rgba(0, 0, 0, 0.474);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@keyframes pop-in {
  0% {
    scale: 0;
  }
  70% {
    scale: 1.5;
  }
}

.modal-inner {
  background-color: var(--green);
  padding: 5rem;
  font-size: 2rem;
  width: 30%;
  height: 20%;
  border-radius: 20px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.552);
  position: relative;
  animation: 1s ease pop-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-icon {
  position: absolute;
  width: 40px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  border: 2px solid black;
  padding: 4px;
  border-radius: 100px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 900px) {
  header button {
    font-size: 1rem;
  }

  header img.icon {
    width: 40px;
    margin-left: 10px;
  }

  .info-box {
    width: 40%;
  }
}

input {
  width: 100px;
}

button.edit-btn {
  padding: 2px 8px;
}

@media screen and (max-width: 800px) {
  .tile {
    width: 150px;
    height: 150px;
    font-size: 8rem;
  }
}

@media screen and (max-width: 700px) {
  header h3 {
    font-size: 1rem;
  }

  header button {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  header button {
    padding: 4px 8px;
  }

  .tile {
    width: 125px;
    height: 125px;
  }

  div.infos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-box {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 10px 10px;
  }

  .tile {
    width: 100px;
    height: 100px;
    font-size: 6rem;
  }

  header span {
    display: none;
  }

  header {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .tile {
    width: 80px;
    height: 80px;
    font-size: 5rem;
  }
}
